---
import BentoItem from './BentoItem.astro';
---
<section
    class=`
        w-full max-w-[1400px]
        grid grid-cols-10 auto-rows-[25rem] gap-4
        mx-auto px-20`
    >
    <BentoItem 
        class="col-span-1 md:col-span-4"  
        title="FINCA CÓDIGO 342"
        subtitle="Desde $6.200.000"
        >
        <div
        slot="image"
        class=" absolute top-0 left-0 w-full 
            h-full group-hover:scale-110 transit-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover
            bg-no-repeat  -z-10"
      style="background-image: url('/finca1.jpeg');"
      >
      </div>
        <p slot="content" 
        class="text-pretty"
      "Desde $6.200.000">

        
        </p>
    </BentoItem>
    <BentoItem 
        class="col-span-10 md:col-span-6" 
        title="FINCA CÓDIGO 343" 
        subtitle="Desde $6.200.000"
        ><div
        slot="image"
        class=" absolute top-0 left-0 w-full 
            h-full group-hover:scale-110 transit-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover
            bg-no-repeat  -z-10"
      style="background-image: url('finca 2.jpeg');"
        
        />
        
        
    </BentoItem>
    <BentoItem 
        class="col-span-10 md:col-span-6" 
        title="FINCA CODIGO 422"/ 
        subtitle="Desde: $500.000"
        ><div
        slot="image"
        class=" absolute top-0 left-0 w-full 
            h-full group-hover:scale-110 transit-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover
            bg-no-repeat  -z-10"
      style="background-image: url('/finca3.jpeg');">
    </div>
    </BentoItem> 
        <BentoItem 
        class="col-span-10 md:col-span-4" 
        title="FINCA CODIGO 423 "/ subtitle='Desde: $1.820.000'
        ><div
        slot="image"
        class=" absolute top-0 left-0 w-full 
            h-full group-hover:scale-110 transit-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover
            bg-no-repeat -z-10"
      style="background-image: url('/423.jpeg');">
    </div>
        
        </BentoItem>
        <BentoItem 
        class="col-span-1 md:col-span-4"  
        title="FINCA CÓDIGO 342"
        subtitle="Desde $6.200.000"
        >
        <div
        slot="image"
        class=" absolute top-0 left-0 w-full 
            h-full group-hover:scale-110 transit-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover
            bg-no-repeat  -z-10"
      style="background-image: url('/finca1.jpeg');"
      >
      </div>
        <p slot="content" 
        class="text-pretty"
      "Desde $6.200.000">

        
        </p>
    </BentoItem>
    <BentoItem 
        class="col-span-10 md:col-span-6" 
        title="FINCA CÓDIGO 343" 
        subtitle="Desde $6.200.000"
        ><div
        slot="image"
        class=" absolute top-0 left-0 w-full 
            h-full group-hover:scale-110 transit-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover
            bg-no-repeat  -z-10"
      style="background-image: url('finca 2.jpeg');"
        
        />
        
        
    </BentoItem>
    <BentoItem 
        class="col-span-10 md:col-span-6" 
        title="FINCA CODIGO 422"/ 
        subtitle="Desde: $500.000"
        ><div
        slot="image"
        class=" absolute top-0 left-0 w-full 
            h-full group-hover:scale-110 transit-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover
            bg-no-repeat  -z-10"
      style="background-image: url('/finca3.jpeg');">
    </div>
    </BentoItem> 
        <BentoItem 
        class="col-span-10 md:col-span-4" 
        title="FINCA CODIGO 423 "/ subtitle='Desde: $1.820.000'
        ><div
        slot="image"
        class=" absolute top-0 left-0 w-full 
            h-full group-hover:scale-110 transit-scale duration-1000
            ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover
            bg-no-repeat -z-10"
      style="background-image: url('/423.jpeg');">
    </div>
        
        </BentoItem>


</section>
    
