
<header id="header-nav" class="fixed w-screen py-1 z-40 top-0 px-8 lg:px-0 margin-top ">
    <div id="header-nav" class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between ">
        <a href="/" class="col-span-1">
            <img src="/finca.svg" alt="Logo finca" width="150"  />
        </a>
        <nav class="col-span-1 justify-self-center">
            <ul class="flex gap-4 items-center">
                <li>
                    <a id="header-dev" class="hover:underline " href='#'>MUNICIPIOS</a>  
                </li>
                <li>
                    <a id="header-dev" class="hover:underline "  href='#'>INMUEBLES URBANOS</a>
                </li>
                <li>
                    <a id="header-dev" class="hover:underline   " href='#'>EXCLUSIVAS
                    </a>
                </li>
                <li>
                    <a id="header-dev" class="hover:underline "  href='#'>PROMOCIONES</a>
                </li>
                <li>
                    <a id="header-dev" class="hover:underline   " href='#'>COMO ALQUILAR</a>
                </li>

            </ul> 
        </nav>
        <a id="header-vip" href="#" class="border rounded-full inline-block border-white px-4 py-2
        justify-self-end hover:bg-white hover:text-black duration-300">Encuentre su finca
        </a>
    </div>
</header>
