<div class="w-full relative ">
    <video class="w-full h-auto object-cover object-top" src="/video.mp4" autoplay loop muted >
    </video>
    <video  class="absolute -bottom-48 blur-xl -z-40" 
            src="/video1.mp4"
            autoplay   
            loop
            muted 
            style="clip-path: polygon(50% 0%, 70% 0%, 100% 0, 100% 70%, 51% 95%, 48% 94%, 0% 70%, 0 0);
            "></video>
        </video>
        
    
    
    
    
</div>